@tailwind base;
@tailwind components;
@tailwind utilities;

.scroolable {
  overflow-y: auto;
  max-height: 100vh;
}

.scroolable-preview {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
